<li [ngClass]="{'list-group-item' : true,
                'list-group-item-danger' : item.loveIts < 0,
                'list-group-item-success' : item.loveIts > 0 }">
  <div class="row">
    <div class="col-xs-8">
        <h4 [ngClass]="{'text-danger' : item.loveIts < 0,
                        'text-success' : item.loveIts > 0 }">{{ item.title }}</h4>
    </div>
    <div class="col-xs-4 text-right" [ngStyle]="{'color' : 'grey'}">
      {{ item.created_at | date:'short' }}
    </div>
  </div>
  <p [ngClass]="{'text-danger' : item.loveIts < 0,
                'text-success' : item.loveIts > 0 }">{{ item.content }}</p>
  <button class="btn btn-success" (click)="onLiker()">Love it!</button>
  <button class="btn btn-danger" (click)="onDisliker()">Don't love it!</button>
</li>
